<h1>First steps</h1>

<h2>#1 Update the <code>package.json</code> file</h2>

<p>
	Open the <code>package.json</code> file and update the information
	about the repository, the license and yourself.<br />
	You should also update the <code>README.md</code> file.
</p>

<h2>#2 Change the config</h2>
<p>
	Update the settings in the <code>config.js</code> file.<br />
	There you find the language settings, API and router options.
</p>

<h2>#3 Include your CSS and JS libraries</h2>
<p>
	CSS and JavaScript libraries can be front-loaded in the <code>loader.js</code> file.
	Add them to the array there so that they are available when your application starts.
</p>

<h2>#4 Update your toolchain</h2>
<p>
	Update the <code>Gruntfile</code> and add your tasks like testing or linting.
</p>

<h2>#5 Write modules</h2>
<p>
	Update the <code>Navigation</code> module (or remove it if you do not need it)
	and add the modules that power your application.
</p>

<hr />

<p>
	You can also checkout the <a href="https://github.com/dak0rn/battle-backbone">project website</a>
	that uses battle-backbone to provide you with a documentation.
</p>