<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="icon" href="icon.png" />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title></title>
		<base href="/" />

		<!-- Livereload provided by grunt. -->
		<script src="http://localhost:35729/livereload.js"></script>

		<!-- Global configuration -->
		<script>
			window.__ps = {
				pushState: false,
				root: "/"
			};
			
			window.__api = "/";
		</script>

		<!-- Load the application -->
		<script src="/node_modules/requirejs/require.js" data-main="/build/loader.js"></script>
	</head>
	<body></body>
</html>